/* Body And Intro Text Content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.background-img {
  background: url('../images/quiz-img/mobile-background.png') no-repeat
    center center/cover;
  height: 100vh;
  width: 100%;
}

#homepage {
  text-align: center;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  background: radial-gradient(#000000ed, #00000052);
}

h1 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: #fafafa;
  margin-bottom: 20px;
  padding-top: 20px;
}

#intro-button {
  font-family: "Quicksand", sans-serif;
}

#intro-text {
  margin-bottom: 20px;
}

#intro {
  font-size: 1.7rem;
  color: #fafafa;
}

/*Start Button*/
#start-button {
  height: 35px;
  width: 90px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
  color: #000000;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
}

#start-again {
  height: 45px;
  width: 100px;
  border-radius: 15px;
  background-color: white;
  border: none;
  color: #000000;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
}

#start-again:hover {
  cursor: pointer;
}

#start-button:hover {
  cursor: pointer;
}

.homepage-icons-top {
  display: flex;
  justify-content: space-evenly;
}

.homepage-icons {
  display: flex;
  justify-content: space-evenly;
}

/* Quiz Game Content */

/*Next Button*/

#next-button {
  padding-left: 30px;
}

#next {
  height: 35px;
  width: 90px;
  border-radius: 25px;
  margin: 10px 10px 10px 220px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  border: none;
}

#next:hover {
  cursor: pointer;
}

#restart-game {
  padding-left: 240px;
  padding-top: 20px;
}

/*Finish Button*/
#results {
  height: 35px;
  width: 90px;
  border-radius: 25px;
  margin: 10px 10px 10px 220px;
  background-color: white;
  border: none;
  color: #000000;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
}

#results-button {
  padding-left: 30px;
}

#results:hover {
  cursor: pointer;
}

/*Play Again Button*/

#restart {
  height: 35px;
  width: 90px;
  border-radius: 25px;
  margin: 10px 10px 10px 220px;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
  border: none;
}

#restart:hover {
  cursor: pointer;
}

/*Question*/
#question-container {
  text-align: center;
  font-size: 1.5rem;
  color: #fafafa;
  padding: 10px 0 10px 0;
}

/*Answer Buttons and Quiz Image Section*/
#answers-image {
  display: flex;
  flex-direction: column-reverse;
}

/*Answer Buttons*/
#answer-buttons {
  margin: 5px;
}

#answer-buttons button {
  width: 90%;
  padding: 5px 0.5rem;
  border: solid #000000 1px;
  border-radius: 3rem;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  background-color: #1cd0b2;
  margin: 5px;
  color: #000000;
}

#answer-buttons button:hover {
  cursor: pointer;
  background-color: #e2f0ed;
}

/*Quiz Images*/
#quiz-image {
  margin-top: 10px;
}

#quiz-image img {
  width: 300px;
  border-radius: 10px;
}

/*Pop Up Alert*/
.swal2-popup {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
}

.swal2-confirm {
  font-family: "Quicksand", sans-serif;
  background-color: #1cd0b2;
  color: #000000;
  border: solid #000000 1px;
}

/*Info message and Score Tracker*/
#info {
  background-color: #fafafa;
  height: 70%;
  width: 70%;
}

/*Score Tracker*/
#score {
  position: absolute;
  font-size: 1rem;
  color: #fafafa;
  text-align: left;
  padding-left: 25px;
}

.scores {
  margin: 3px;
}

/*Class assigned to elements that need to be hidden in certain moments of the quiz game*/
.hide {
  display: none;
}

/*End Of Game Message*/
#quiz-end {
  color: #fafafa;
  font-size: 1.5rem;
  padding: 60px 20px 20px;
}

/*Media query for large or landscape phones (570px and up)*/
@media screen and (min-width: 570px) {
  #restart-game {
    padding-left: 500px;
  }

  #next {
    margin: 10px;
  }
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .background-img {
    background: url(/assets/images/quiz-img/homepage-background.png) no-repeat
      center center/cover;
  }

  h1 {
    font-size: 3rem;
  }

  #intro-text p {
    font-size: 2rem;
  }

  .title-intro-start {
    padding-top: 350px;
  }

  #quiz-image img {
    width: 600px;
  }

  #answer-buttons button {
    font-size: 1.3rem;
    width: 80%;
  }

  #restart-game {
    padding-left: 550px;
    padding-top: 20px;
  }

  #start-again {
    height: 50px;
    width: 110px;
    font-size: 1.1rem;
  }

  #next {
    height: 50px;
    width: 100px;
    margin: 10px;
    font-size: 1.5rem;
  }

  #results {
    height: 50px;
    width: 100px;
    margin: 10px;
    font-size: 1.5rem;
  }

  #results-button {
  padding-left: 550px;
}

  #restart {
    height: 50px;
    width: 100px;
    margin: 10px;
    font-size: 1rem;
  }

  #score {
    font-size: 1.3rem;
    padding-left: 80px;
    padding-top: 20px;
  }

  #quiz-end {
    font-size: 1.8rem;
    margin-top: 100px;
  }
}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width: 992px) {
  .title-intro-start {
    padding-top: 185px;
  }

  h1 {
    font-size: 3.5rem;
  }

  #start-button {
    height: 50px;
    width: 100px;
    font-size: 1rem;
  }

  #question-container {
    font-size: 2rem;
  }

  #answers-image {
    display: flex;
    flex-direction: row;
  }

  #answer-buttons button {
    margin: 30px;
    height: 45px;
  }

  #quiz-image {
    margin-right: 20px;
  }

  #quiz-image img {
    width: 550px;
    height: 400px;
    margin-top: 10px;
  }

  #score {
    font-size: 1.5rem;
    padding-left: 110px;
  }

  #start-again {
    height: 55px;
    width: 120px;
    border-radius: 15px;
    font-size: 1rem;
  }

  .next-restart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #restart-game {
    padding-left: 380px;
    padding-right: 20px;
  }

  #next {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-size: 1.5rem;
  }

  #results {
    height: 50px;
    width: 100px;
    font-size: 1.5rem;
  }

  #restart {
    height: 50px;
    width: 100px;
    font-size: 1rem;
  }

  #quiz-end {
    font-size: 2.5rem;
  }
}

/*Media query for computers,large laptops and upwards (1200px and higher)*/
@media screen and (min-width: 1200px) {
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title-intro-start {
    padding-top: 200px;
  }

  #intro-text {
    margin-bottom: 20px;
  }

  #start-button {
    margin-bottom: 20px;
    animation: scale-up-center-normal 1s ease 0s 1 normal none;
  }

  #restart-game {
    padding-right: 100px;
  }

  #question-container {
    font-size: 2rem;
    padding-top: 10px;
  }

  #answers-image {
    display: flex;
    flex-direction: row;
  }

  #answer-buttons {
    width: 45%;
    margin: 0;
  }

  #answer-buttons button {
    width: 70%;
    display: block;
    padding: 5px 0.5rem;
    border-radius: 15px;
    font-size: 1.5rem;
    margin: 3rem 1.5rem;
  }

  #quiz-image {
    width: 45%;
    margin-top: 20px;
  }

  #quiz-image img {
    width: 600px;
    height: 420px;
  }

  #score {
    padding-top: 0;
    padding-left: 30px;
  }
}
