/* Homepage */
#homepage-body {
    background: url(../images/homepage-background.webp) no-repeat center center/cover;
}

#homepage {
    text-align: center;
    background-color: rgb(22, 97, 72,0.9);
    width: 100%;
}


h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 7rem;
    color: #fafafa;
    margin-top: 50px;
    margin-bottom: 20px;
}

#intro-button {
    font-family: "Kaushan Script", cursive;
}

#intro-text {
    margin-bottom: 20px;
}

#intro {
    font-size: 3rem;
    color: #fafafa;
}

#start-button {
    height: 80px;
    width: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #a8cccc;
    color: #000000;
    font-size: 2rem;
    font-family: "Kaushan Script", cursive;
}

/* Gamepage */
#gamepage-body {
    background-color: rgb(24 111 116);
    font-family: "Kaushan Script", cursive;
}

.question-container {
    text-align: center;
    font-size: 1.5rem;
}

.answer-container {
    display: block;
    width: 40%;
    padding: 2.5px 0.5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    background-color: #1cd0b2;
}

.answer-container:hover {
    box-shadow: #fafafa;
}

.score-area {
    position: fixed;
    bottom: 0;
    font-size: 1.5rem;
}

